<h1> Sign-Up </h1>
<form action = "<%= users_url %>" method="post">  
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
    <label id="username"> Username: </label>
    <input type="text" name="user[username]"> 
    <label id="password"> Password: </label>
    <input type="password" name="user[password]">
    <br>
    <input type="submit" value ="sign-up">
</form>